@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron");
html{
    scroll-behavior: smooth;
    font-family: Montserrat,sans-serif;
    height: 2655px;
    color: rgb(0, 0, 0);
}
body{
    background: linear-gradient(#272635, #353445,#525161,#6f6e7e) ;

    margin-top: 70px;
    display: flex; align-items: center; justify-content: center;
}
.navMenu{
    background-color: #FFFDD0;
    display: block;
    top:0px;
    left: 0px;
    padding: 15px 15px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    margin: auto;
    
}
.navMenu a{
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(89, 89, 126);
    
    
}

.navMenu :hover{
    color: #FFFDD0;
    background-color:rgb(89, 89, 126) ;
    padding:20px 20px ;
    border-radius: 100%;
    
}

.p1{
    font-size: 30px;
    font-family: Orbitron,sans-serif; 
    text-align: center;
    display: inline;
    padding: 10px 10px;
    
    
    
    
}
.p2{
    font-weight: bold;
}

.contentbox1{
    height: 450px;
    width: 600px;
    background-color:#E8E9F3;
    padding: 10px ;
    border: 1px solid #E8E9F3 ;
    text-align: center;
    border-radius: 25px;
}
.contentbox2{
    
    margin-top: 100px;
    margin-right: 30px;
    margin-left: -10px;
    height: 450px;
    width: 600px;
    background-color:#E8E9F3;
    padding: 10px ;
    border: 1px solid #E8E9F3 ;
    border-radius: 25px;
    text-align: center;
}


.HomeIMG{
    width: 249px;
    height: 138.5px;
    
}

a{
    text-decoration: none;
    color: #A6A6A8;
}

.intrests{
    list-style-type: none;
    padding-left: 0px;
}

.p3{
    text-align: left;
    line-height: 50px;
    font-weight: 600;
    font-size: 30px;
}

iframe{
    position: relative;
    top: 50px;
}

#Home{
    scroll-margin-top: 100px;
}

.container {
    flex: 33.33%;
    padding: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    width: 50%;
  }


  
.image {

    opacity: 1;
    display: block;
    width: 100px;
    height: 100px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.container:hover .image {
    opacity: 0.3;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.text {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.Technologies{
    display: flex;
    margin-top: 30px;

}

footer {  
    position: absolute;  
    left: 0px;  
    bottom: -1900px;  
    height: 100px;
    right: 0px;   
    width: 100%;  
    background-color: rgb(86, 81, 81);  
    color: white;  
    text-align: center;  
    }  

.footerlinks {
    list-style-type: none;
    
}
.footerlinks li{
    color: #A6A6A8;
    display: inline;
    padding-right: 30px;
}
.p4{
    color: #A6A6A8;
    font-size: 10px;

}
